body {
    background: grey;
    background-image: url("graphics/kode.jpg");
}

.theFirst {
    background: white;
    
}
a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
}

ul {
    display: flex;
   
}

ul li {
    margin: 10px;
}

/* .anim {
    width: 150px;
    height: 150px;
    background: orangered;
    position: relative;
    animation: mymove 10s infinite;

} */

.navi {
    animation: navi 10s infinite;
    position: relative;
}



@keyframes navi {
    from {left: 0px;}
    to {left: 500px;}
  }