body {
    /* background: grey; */
    /* background-image: url("graphics/kode.jpg"); */
}

.theFirst {
    color: whitesmoke;
    text-align: center;
    background: grey;
    margin-top: 200px;
    margin-left: 75px;
    border-radius: 4px;
    
    
}


ul.primaryNav a {
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: bold;
}

ul.primaryNav {
    display: flex;
    
   
}

/* ul.mainNav {
    margin: 10px;
    list-style-type: none;
} */

/* .anim {
    width: 150px;
    height: 150px;
    background: orangered;
    position: relative;
    animation: mymove 10s infinite;

} */

.navi {
    background-image: url("graphics/kode.jpg");
    height: 200px;
    animation: navi 10s infinite;
    position: relative;
}



@keyframes navi {
    from {left: 0px;}
    to {left: 500px;}
  }


  .head1 {
    color: whitesmoke;
    text-align: center;
    background: blue;
    margin: auto;
  }

  .navi nav ul li {
    margin: 10px;
    list-style-type: none;
    
  }

  img.myPic {
    border-radius: 20px;
    
    
  }

  div.pic {
    /* margin: auto 0; */
    margin-top: 6px;;
    text-align: center;
  }